@use "sass:math";
@use "variables" as vars;
@use "mixins" as *;

.loginMainDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 3vh;
  height: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;

  @include respond(sm) {
    width: 100%;
    height: auto;
    padding: 0 3vh;
  }

  @include respond(md) {
    width: 100%;
    height: auto;
    padding: 0 5vh;
  }

  @include respond(lg) {
    width: 100%;
    height: auto;
    padding: 0 20vh;
  }

  .loginSonSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 7vh;
    background: vars.$bgColor3;
    padding: 3vh;
    border-radius: math.div(vars.$border-radius1, 8);

    @include respond(sm) {
      width: 100%;
      height: auto;
    }

    @include respond(md) {
      width: 100%;
      height: auto;
      padding: 5vh;
    }

    @include respond(lg) {
      width: 50%;
      height: auto;
      padding: 8vh;
    }

    .welcomeDiv {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 100%;
      margin-top: 3vh;
      gap: 4px;

      @include respond(sm) {
        width: 100%;
        gap: 6px;
      }

      @include respond(md) {
        width: 100%;
        gap: 8px;
        margin-top: 1vh;
      }

      @include respond(lg) {
        text-align: left;
        width: 100%;
        gap: 4px;
        margin-top: 0vh;
      }

      h4 {
        font-size: 30px;

        @include respond(sm) {
          font-size: 20px;
        }

        @include respond(md) {
          font-size: 40px;
        }

        @include respond(lg) {
          font-size: 25px;
        }
      }

      h2 {
        font-size: 35px;
        color: vars.$color5;
        font-weight: 700;

        @include respond(sm) {
          font-size: 30px;
        }

        @include respond(md) {
          font-size: 50px;
        }

        @include respond(lg) {
          font-size: 45px;
        }
      }
    }

    .googleFacebookLoginDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 4vh;

      @include respond(sm) {
        gap: 4vh;
      }

      @include respond(md) {
        gap: 5vh;
      }

      @include respond(lg) {
        gap: 3vh;
      }

      #anchor {
        color: black;
      }

      .googleLogin {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding: 15px;
        font-size: 18px;
        border-radius: math.div(vars.$border-radius1, 8);
        border: 2px rgba(226, 224, 224, 0.123) solid;
        border-bottom: 6px rgba(180, 178, 178, 0.205) solid;

        @include respond(sm) {
          padding: 15px;
          gap: 18px;
          font-size: 18px;
          white-space: nowrap;
          border: 2px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 6px rgba(180, 178, 178, 0.205) solid;
        }

        @include respond(md) {
          padding: 25px;
          font-size: 30px;
          gap: 30px;
          border: 2px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 8px rgba(180, 178, 178, 0.205) solid;
        }

        @include respond(lg) {
          padding: 8px;
          font-size: 15px;
          gap: 15px;
          border: 1px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 6px rgba(180, 178, 178, 0.205) solid;
        }

        img {
          width: 50px;
          height: 50px;

          @include respond(sm) {
            width: 50px;
            height: 50px;
          }

          @include respond(md) {
            width: 65px;
            height: 65px;
          }

          @include respond(lg) {
            width: 20px;
            height: 20px;
          }
        }

        a {
          color: vars.$color6;

          &:hover {
            color: vars.$color8;
          }
        }
      }

      .facebookLogin {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding: 12px;
        font-size: 18px;
        border-radius: math.div(vars.$border-radius1, 8);
        border: 2px rgba(226, 224, 224, 0.123) solid;
        border-bottom: 6px rgba(180, 178, 178, 0.205) solid;

        @include respond(sm) {
          padding: 12px;
          gap: 18px;
          font-size: 18px;
          white-space: nowrap;
          border: 2px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 6px rgba(180, 178, 178, 0.205) solid;
        }

        @include respond(md) {
          padding: 20px;
          font-size: 30px;
          gap: 35px;
          border: 2px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 8px rgba(180, 178, 178, 0.205) solid;
        }

        @include respond(lg) {
          padding: 5px;
          font-size: 15px;
          gap: 15px;
          border: 1px rgba(226, 224, 224, 0.123) solid;
          border-bottom: 6px rgba(180, 178, 178, 0.205) solid;
        }

        .facebookIcon {
          color: rgb(1, 1, 54);
          font-size: 40px;
          font-weight: 900;
          padding: 2px;

          @include respond(sm) {
            padding: 3px;
            font-size: 40px;
            padding: 2px;
          }

          @include respond(md) {
            padding: 3px;
            font-size: 55px;
            padding: 2px;
          }

          @include respond(lg) {
            padding: 2px;
            font-size: 30px;
            padding: 2px;
          }
        }

        a {
          color: vars.$color6;

          &:hover {
            color: vars.$color8;
          }
        }
      }

      .OrlineDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
        padding-top: 25px;

        @include respond(sm) {
          gap: 30px;
          padding-top: 25px;
        }

        @include respond(md) {
          gap: 35px;
          padding-top: 35px;
        }

        @include respond(lg) {
          gap: 25px;
          padding-top: 20px;
        }

        .line {
          width: 100%;
          height: 2px;
          border: 1px rgba(180, 178, 178, 0.205) solid;

          @include respond(sm) {
            width: 100%;
            height: 2px;
            border: 1px rgba(180, 178, 178, 0.205) solid;
          }

          @include respond(md) {
            width: 100%;
            height: 2px;
            border: 1px rgba(180, 178, 178, 0.205) solid;
          }

          @include respond(lg) {
            width: 100%;
            height: 2px;
            border: 1px rgba(180, 178, 178, 0.205) solid;
          }
        }

        p {
          color: vars.$color6;
          font-size: 18px;

          @include respond(sm) {
            font-size: 15px;
          }

          @include respond(md) {
            font-size: 30px;
          }

          @include respond(lg) {
            font-size: 18px;
          }
        }
      }
    }

    // Form Styling
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 4vh;
      padding: 0 2vh;
      font-size: 18px;
      gap: 23px;

      @include respond(sm) {
        padding-top: 2vh;
        padding: 0 2vh;
        gap: 17px;
        font-size: 15px;
      }

      @include respond(md) {
        padding-top: 6vh;
        padding: 0 2vh;
        gap: 30px;
        font-size: 26px;
      }

      @include respond(lg) {
        padding-top: 2vh;
        padding: 0 2vh;
        gap: 15px;
        font-size: 15px;
      }

      .emailIconDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 12px;
        padding-left: 20px;
        gap: 20px;
        background: vars.$bgColor4;

        @include respond(sm) {
          padding: 10px;
          padding-left: 20px;
        }

        @include respond(md) {
          padding: 23px;
          padding-left: 30px;
        }

        @include respond(lg) {
          padding: 10px;
          padding-left: 30px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: vars.$primaryColor;
          font-size: 23px;

          @include respond(sm) {
            font-size: 20px;
          }

          @include respond(md) {
            font-size: 28px;
          }

          @include respond(lg) {
            font-size: 20px;
          }
        }

        .emailAdd {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 6px;

          label {
            color: vars.$color6;
          }

          input {
            width: 100%;
            outline: none;
            border: none;
            background: none;
            color: vars.$color3;
            font-size: 17px;

            @include respond(sm) {
              font-size: 17px;
            }

            @include respond(md) {
              font-size: 25px;
            }

            @include respond(lg) {
              font-size: 13px;
            }
          }
        }
      }

      .pwordIconDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 12px;
        padding-left: 20px;
        gap: 25px;
        background: vars.$bgColor4;

        @include respond(sm) {
          padding: 10px;
          padding-left: 20px;
        }

        @include respond(md) {
          padding: 23px;
          padding-left: 30px;
        }

        @include respond(lg) {
          padding: 10px;
          padding-left: 30px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: vars.$primaryColor;
          font-size: 20px;

          @include respond(sm) {
            font-size: 20px;
          }

          @include respond(md) {
            font-size: 28px;
          }

          @include respond(lg) {
            font-size: 20px;
          }
        }

        .passwordDiv {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 6px;

          label {
            color: vars.$color6;
          }

          .inputIconDiv {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            gap: 4vh;

            input {
              width: 100%;
              outline: none;
              border: none;
              background: none;
              color: vars.$color3;
              font-size: 17px;

              @include respond(sm) {
                font-size: 17px;
              }

              @include respond(md) {
                font-size: 25px;
              }

              @include respond(lg) {
                font-size: 13px;
              }
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              width: 30px;
              height: 13px;
              padding: 6px;
              background: vars.$bgColor2;
              color: vars.$color7;
              font-size: 10px;
              border-radius: 80% 80% 80% 80%;
              margin-right: 20px;

              @include respond(sm) {
                font-size: 10px;
              }

              @include respond(md) {
                font-size: 30px;
              }

              @include respond(lg) {
                font-size: 10px;
              }
            }
          }
        }
      }

      .checkboxForgotDiv {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 25px 0px 25px 5px;
        justify-content: space-between;
        align-items: center;
        // white-space: nowrap;
        font-size: 16px;

        @include respond(sm) {
          font-size: 10px;
        }

        @include respond(md) {
          display: flex;
          flex-direction: row;
          width: 100%;
          font-size: 25px;
        }

        @include respond(lg) {
          display: flex;
          flex-direction: row;
          width: 100%;
          font-size: 15px;
        }

        a {
          margin-top: 6vh;
          color: vars.$color6;

          @include respond(sm) {
            margin-top: 6vh;
          }

          @include respond(md) {
            margin-top: 0px;
          }

          @include respond(lg) {
            margin-top: 0px;
          }

          &:hover {
            color: vars.$color8;
          }
        }

        .checkbox {
          display: flex;
          flex-direction: row;
          gap: 10px;

          input {
            font-size: 23px;

            @include respond(sm) {
              font-size: 20px;
            }

            @include respond(md) {
              font-size: 40px;
            }

            @include respond(lg) {
              font-size: 20px;
            }
          }

          label {
            color: vars.$color6;
          }
        }
      }

      .loginDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        background: vars.$bgColor1;

        @include respond(sm) {
          padding: 15px;
          // font-size: 10px;
        }

        @include respond(md) {
          padding: 35px;
          // font-size: 30px;
        }

        @include respond(lg) {
          padding: 18px;
          // font-size: 10px;
        }

        &:hover {
          background: vars.$bgColor5;
        }

        a {
          color: vars.$color1;
          font-size: 20px;

          @include respond(sm) {
            font-size: 16px;
          }

          @include respond(md) {
            font-size: 30px;
          }

          @include respond(lg) {
            font-size: 18px;
          }

          &:hover {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      .signUp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 3vh;
        gap: 5px;

        p {
          color: vars.$color6;
        }

        a {
          color: vars.$bgColor5;

          &:hover {
            color: vars.$color4;
          }
        }
      }
    }
  }
}
